<!--<div class="main-navbar">-->
<!--  <a [routerLink]="['/']">-->
<!--    <h1>Lab10</h1>-->
<!--  </a>-->
<!--  <a>-->
<!--    <h1-->
<!--      [routerLink]="['/home']"-->
<!--      [title]=""-->
<!--    >Home</h1>-->
<!--  </a>-->

<!--  <a>-->
<!--    <h1-->
<!--      [routerLink]="['/companies']"-->
<!--      [title]=""-->
<!--    >Companies</h1>-->
<!--  </a>-->
<!--  <a>-->
<!--    <h1-->
<!--      [routerLink]="['/vacancies']"-->
<!--      [title]=""-->
<!--    >Vacancies</h1>-->
<!--  </a>-->
<!--  <a>-->
<!--    <h1-->
<!--      [routerLink]="['/createcompany']"-->
<!--      [title]=""-->
<!--    >Create Company</h1>-->
<!--  </a>-->
<!--  <a>-->
<!--    <h1-->
<!--      [routerLink]="['/createvacancy']"-->
<!--    >Create Vacancy</h1>-->
<!--  </a>-->

<!--</div>-->

<div class="main-navbar">
  <a [routerLink]="['/']">Lab10</a>
  <a [routerLink]="['home']">Home</a>
  <a [routerLink]="['/companies']">Companies</a>
  <a [routerLink]="['/vacancies']">Vacancies</a>
  <a [routerLink]="['/createcompany']">Company</a>
  <a [routerLink]="['createvacancy']">Vacancy</a>

</div>
